name: Dependent Issues

on:
  schedule:
    - cron: '*/15 * * * *' # run every 15 minutes
  workflow_dispatch:

jobs:
  cancel:
    name: 'Cancel Previous Runs (dependent issues)'
    runs-on: ubuntu-latest
    if: github.repository == 'leanprover-community/mathlib4'
    # timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@3155a141048f8f89c06b4cdae32e7853e97536bc # 0.13.0
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

  check:
    runs-on: ubuntu-latest
    if: github.repository == 'leanprover-community/mathlib4'
    steps:
      - name: Generate app token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.MATHLIB_DEPENDENT_ISSUES_APP_ID }}
          private-key: ${{ secrets.MATHLIB_DEPENDENT_ISSUES_PRIVATE_KEY }}
      # The create-github-app-token README states that this token is masked and will not be logged accidentally.
      - uses: z0al/dependent-issues@75d554cd9494b6e1766bc9d08a81c26444ad5c5a
        env:
          # (Required) The token to use to make API calls to GitHub.
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        with:
          # (Optional) The label to use to mark dependent issues
          label: blocked-by-other-PR

          # (Optional) Enable checking for dependencies in issues. Enable by
          # setting the value to "on". Default "off"
          check_issues: off

          # (Optional) A comma-separated list of keywords. Default
          # "depends on, blocked by"
          keywords: "- \\[ \\] depends on:,- \\[x\\] depends on:"
